

h1 {
    color: A3B18A;
    font-size: 40px;
    text-align: center;
}
header p{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    
}

h2{
    color: 2F5D50;
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 15px;
    text-align: left;
}
ul{
    list-style: none;
    padding: 0;
    text-align: center;
}

li{
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgb(51, 187, 144);
    border-radius: 9px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

